asttokens
contourpy
cycler
decorator
executing
filelock
fonttools
fsspec
ipython
ipython_pygments_lexers
jedi
Jinja2
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
networkx
numpy
packaging
pexpect
pillow
prompt_toolkit
ptyprocess
pure_eval
pygame
Pygments
pyparsing
python-dateutil
setuptools
six
stack-data
sympy
torch
traitlets
typing_extensions
wcwidth
